body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 150px); /* Adjust height to leave space for header and form */
  /* font-size: 16px; */
}

th, td {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

form {
  padding-bottom: 15px;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}
