{% extends "index.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/user.css" %}">
{% endblock css %}

{% block section %}
<form method="post" action="/user" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="profile-container">
        <img id="profile-picture" src="{{ profile_pic_url }}" alt="Profile Picture">
    </div>
    <div id="profile-container">
        <label for="file-input" class="buttons">Upload Picture</label>
        <input type="file" name="newprofilepic" id="file-input" >
        <button type="submit" class="buttons" name="profilepicChange"> Save Changes </button>
    </div>
</form>

<form id="user-profile-form">

   
    <div class=" container">
        <label for="firstname">First Name:</label>
        <div id="firstname" class="non-editable"></div>

        <label for="middlename">Middle Name:</label>
        <div id="middlename" class="non-editable"></div>

        <label for="lastname">Last Name:</label>
        <div id="lastname" class="non-editable"></div>
    </div>

    <div class=" container">
        <label for="username">Username:</label>
        <div id="username" class="non-editable" data-username = {{ username }}></div>

        <label for="email">Email:</label>
        <div id="email" class="non-editable"></div>
    </div> 

    <div class="container">
        <label for="address_line_1">Address Line 1:</label>
        <div id="address_line_1" class="non-editable"></div>
        
        <label for="address_line_2">Address Line 2:</label>
        <div id="address_line_2" class="non-editable"></div>
    </div>

    <div class="container">
        <label for="city">City:</label>
        <div id="city" class="non-editable"></div>

        <label for="pincode">Pincode:</label>
        <div id="pincode" class="non-editable"></div>
    </div>

    <div class="container">
        <label for="state">State:</label>
        <div id="state" class="non-editable"></div>

        <label for="country">Country:</label>
        <div id="country" class="non-editable"></div>
    </div>

    <div class="container">
        <label for="dob">Date of birth:</label>
        <div id="dob" class="non-editable"></div>

        <label for="gender">Gender:</label>
        <div id="gender" class="non-editable"></div>
    </div>

    <div class="container">
        <label for="qualification">Qualifications:</label>
        <div id="qualification" class="non-editable" data-quali = "{{ quali }}"></div>

        <label for="position">Position:</label>
        <div id="position" class="non-editable"></div>
    </div>

    <div class="container">
        <label for="department">Department:</label>
        <div id="department" class="non-editable"></div>
    
        <label for="reporting">Reports To:</label>
        <div id="reporting" class="non-editable"></div>
    </div>
    
    
</form>
{% comment %} {% if is_admin %}
<div class="container">
    <button type="button" class="buttons" id="change-password-button">Change Password</button>

    <button type="button" class="buttons" id="change-address-button">Change Address</button>

    <a href='/adminuser' class="buttons" id="user-list-button">View User Lists</button>
</div>
{% elif is_user %} {% endcomment %}
<div class="container">
    <button type="button" class="buttons" id="change-password-button">Change Password</button>

    <button type="button" class="buttons" id="change-address-button">Change Address</button>
</div>
{% comment %} {% endif %} {% endcomment %}

<form method="post" action="/user">  
    {% csrf_token %}
    <div id="password-container" style="display: none;">
        <div class="container">
            <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword"  class="editable" placeholder="Enter current password">
                <i class="fas fa-eye-slash" id="toggleCurrentPassword" onclick="togglePasswordVisibility('currentPassword', 'toggleCurrentPassword')"></i>
        </div>

        <div class="container">
            <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" class="editable" placeholder="Enter new password">
                <i class="fas fa-eye-slash" id="toggleNewPassword" onclick="togglePasswordVisibility('newPassword', 'toggleNewPassword')"></i>
        </div>

        <div class="container">
            <label for="confirmPassword">Confirm new Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="editable" placeholder="Enter new password again">
                <i class="fas fa-eye-slash" id="toggleConfirmPassword" onclick="togglePasswordVisibility('confirmPassword', 'toggleConfirmPassword')"></i>
        </div>
        
        <div class="container">
            <button type="submit" class="buttons" name="passwordChange" >Save Changes</button>
        </div>
    </div>
</form>

<form method="post" action='/user'>
    {% csrf_token %}
    <div id="address-container" style="display: none;">
        <div class="container">
            <label for="new_address_line_1">Address Line 1:</label>
            <input type="text" name="new_address_line_1" value="" id="new_address_line_1" class="editable" placeholder="Enter address line 1">

            <label for="new_address_line_2">Address Line 2:</label>
            <input type="text" name="new_address_line_2" value="" id="new_address_line_2" class="editable" placeholder="Enter address line 2">
        </div>

        <div class="container">
            <label for="new_city">City:</label>
            <input type="text" name="new_city" value="" id="new_city" class="editable" placeholder="Enter city">

            <label for="new_pincode">Pincode:</label>
            <input type="text" name="new_pincode" value="" id="new_pincode" class="editable" placeholder="Enter pincode">
        </div>

        <div class="container">
            <label for="new_state">State:</label>
            <input type="text" name="new_state" value="" id="new_state" class="editable" placeholder="Enter state">

            <label for="new_country">Country:</label>
            <input type="text" name="new_country" value="" id="new_country" class="editable" placeholder="Enter country">
        </div>

        <div class="container">
            <button type="submit" class="buttons" name="addressChange">Save Changes</button>
        </div>

    </div>

</form>


{% endblock section %}

{% block script %}
{% load static %}
<script>
    function fetchUserData() {
        // Replace the following with your actual logic to fetch user data from the database
        const userData = {
            username: "{{ username }}",
            email: "{{ email }}",
            firstname: '{{ firstname }}',
            middlename: '{{ middlename }}',
            lastname: '{{ lastname }}',
            address_line_1: '{{ address1 }}',
            address_line_2: '{{ address2 }}',
            city: '{{ city }}',
            pincode: '{{ pincode }}',
            state: '{{ state }}',
            country: '{{ country }}',
            // dob: '14/01/2003',
            dob: '{{ dob }}',
            gender: '{{ gender }}',
            qualification: '{{ quali }}',
            position: '{{ position }}',
            department: '{{ department }}',
            reporting: '{{ reports }}',
        };
    
        Object.keys(userData).forEach(key => {
            const value = userData[key];
            document.getElementById(key).textContent = value;
        });
    }
    
    document.addEventListener("DOMContentLoaded", function () {
        // Fetch user data from the database
        fetchUserData();
    
        // Attach the file input change event listener
        const fileInput = document.getElementById('file-input');
        fileInput.addEventListener('change', function () {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const profilePicture = document.getElementById('profile-picture');
                    profilePicture.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });
    
    function showPasswordFields() {
        // Show the password container when the button is clicked
        if (document.getElementById('password-container').style.display == 'none') {
            document.getElementById('password-container').style.display = 'block';
        } else {
            document.getElementById('password-container').style.display = 'none';
        }
    }
    
    function showAddressFields() {
        // Show the password container when the button is clicked
        if (document.getElementById('address-container').style.display == 'none') {
            document.getElementById('address-container').style.display = 'block';
        } else {
            document.getElementById('address-container').style.display = 'none';
        }
    }
    
    document.getElementById('change-password-button').addEventListener('click', showPasswordFields);
    document.getElementById('change-address-button').addEventListener('click', showAddressFields);
    document.getElementById('save-changes-button').addEventListener('click', saveChanges);
    
    function togglePasswordVisibility(inputId, eyeIconId) {
        const passwordInput = document.getElementById(inputId);
        const eyeIcon = document.getElementById(eyeIconId);
    
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fas', 'fa-eye-slash');
            eyeIcon.classList.add('fas', 'fa-eye');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fas', 'fa-eye');
            eyeIcon.classList.add('fas', 'fa-eye-slash');
        }
    }    
</script>
{% endblock script %}